@font-face {
    font-family: Anton-Regular;
    src: url('Anton-Regular.ttf');
}
@font-face {
    font-family: Work-Sans;
    src: url('WorkSans-VariableFont_wght.ttf');
}

html body {
    box-sizing: border-box;
}
h1 {
    margin: 0;
}
h2 {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: 24px;
}
a {
    text-decoration: none;
    color: #151c22;
    display: inline-block;
}
p {
    margin: 0;
}

button {
    background: #151C22;
    color: #FFFFFF;
    font-size: 16px;
    min-width: 219px;
    min-height: 64px;
}

.button-secondary {
    font-size: 18px;
    background: none;
    color: #151C22;
    border: none;
    min-width: 70px;
    padding: 0px;
    position: relative;
}
.button-secondary::after {
    display: inline-block;
    content: url('Logo/Line.svg');
    position: absolute;
    left: -5px;
    bottom: 8px;
}

body {
    padding: 0;
    margin: 0;
    background-color: E5E5E5;
    font-family: Work-Sans;
}
.block-spacer{
    margin-top: 110px;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: E5E5E5;
    padding-bottom: 25px;
    padding-top: 25px;
}
.block-center {
    display: flex;
    justify-content: center;
}
.background-grey {
    background-color: #F1F2F4;
    
}
.menu__item {
    font-size: 16px;
    padding-left: 35px;
}
.menu__item:first-child {
    padding-left: 0;
}

.menu-logo {
    width: 75px;
    height: 17px;
}

.menu-search {
    width: 18px;
    height: 18px;
}
.menu-basket {
    width: 20px;
    height: 18px;
    padding-left: 35px;
}
.main-banner {
    display: flex;
    justify-content: space-between;
}

.main-banner__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-banner__tagline {
    color: #727A82;
    font-size: 18px;
    line-height: 21px;
}
.main-banner__title {
    font-family: Anton-Regular;
    font-size: 128px;
    text-transform: uppercase;
}
.main-banner__image {
    width: 430px;
    height: 517px;
    display: inline-block;
    padding: 48px;
    position: relative;
    z-index: 2;
    object-fit: cover;
}
.main-banner__block-image {
    position: relative;
}
.main-banner__block-image::before {
    display: inline-block;
    content: url('Logo/diagonal.svg');
    position: absolute;
    width: 232px;
    height: 176px;
}
.main-banner__block-image::after {
    display: inline-block;
    content: url('Logo/diagonal2.svg');
    position: absolute;
    bottom: 0;
    right: 0;
    width: 232px;
    height: 176px;
    }
.button-navigate {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    margin-bottom: 35px;
}
.button-position {
    display: flex;
    justify-content: space-between;
}
.min-width {
    min-width: 1170px;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 70px;
}

.block-news {
    display: flex;
    margin-top: 7px;
}
.block-news__image{
    width: 700px;
    height: 370px;
}
.block-news__text {
    font-size: 18px;
    color: #727A82;
    width: 310px;
    height: 104px;
    
}
block-news__date {
    width: 110px;
    height: 21px;
    
}
.block-news__description {
    background-color: #F1F2F4;
    padding-top: 36px;
    padding-left: 43px;
    width: 357px;
    height: 361px;
    margin-top: 31px;
    margin-right: 70px;
    margin-bottom: 34px;
}
.block-news__background {
    background-image: url(Logo/background-diagonal.svg);
}

.price {
    font-size: 16px;
    font-weight: bold;
}

footer {
    background-color: #151C22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 222px;
}
.brand-name {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bolder;
    align-items: center;
}
.footer-menu__item {
    color: #FFFFFF;
    font-size: 18px;
    padding-right: 35px;
}
.footer-menu {
    list-style: none;
    display: flex;
}

.fotter-social {
    padding-right: 30px;
}


/*Catalog layout page*/

.block-main {
    display: flex;
    justify-content: center;
    margin: 0;
}

.block-main__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block-main__image__description {
    width: 299px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    z-index: 2;
    margin: 0;
}

.block-main__image {
    position: relative;
    padding-left: 57px;
    margin: 0;
    height: 260px;
}

.block-main__image::before {
    display: inline-block;
    content: url('2page/diagonal1.svg');
    position: absolute;
    bottom: 0;
    width: 178px;
    height: 135px;
}

.block-main__image::after {
    display: inline-block;
    content: url('2page/diagonal2.svg');
    position: absolute;
    right: 0%;
    width: 232px;
    height: 176px;
}

.block-main__title {
    font-size: 32px;
    padding-top: 39px;
    font-weight: bold;
    font-stretch: ultra-expanded;
}

.block-main__item {
    font-size: 18px;
    color: #727A82;
}

.block-main__item:hover {
    color: #151C22;
    font-weight: bold;
}

.block-main__item-Jackets {
    color: #151C22;
    font-weight: bold;
}
/*i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.arrow-down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
ul {
    list-style: none;
    min-width: 243px;
    min-height: 50px;
    padding: 0;
    font-weight: bold;
    border: 2px solid #151C22;
}*/


